@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* font-family: "Open Sans", sans-serif; */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Share things */
.btn {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    padding: 18px 36px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
}

/* Nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 225px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    color: rgb(71, 71, 71);
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

.titleName {
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
}

.singleWord {
    color: rgb(253, 110, 10);
}